body{
    padding-top: 75px;
}

.chartBox{
    display: grid;
    width: 20px;
    place-items: center;
}

.resources{
    display: grid;
    font-size: large;
    place-items: center;
}

.disclamer{
    display: grid;
    font-size: medium;
    text-align: center;
}

.chartBox{
    display: grid;
    text-align: center;
    place-items: center;
    padding: 20px;
}

.table-hover tbody tr:hover td {
    background: lightcyan;
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lucid sans
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: azure;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 3px white;
    Border-radius: 5px;
}

.coin{
    display: flex;
    width: 460px;
    height: 100px;
    border-radius: 8px;
}

img{
    display: grid;
    width: 20px;
    place-items: center;
}

.coin .name{
    height: 100%;
} */